.sender-column{text-align:right}
p#encabezado{text-align:left}
h1{text-align:left}
h2{text-align:left}
body{max-width: 800px;
margin: 0 auto;
text-align: left;
font-size: 1.5em;
font-size: 1.3em;
font-size: 1.1em;
line-height: 1.5;
}
