fieldset {
  border-color:yellow;
  border-width:10px;

}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
a.ex2:hover, a.ex2:active {
    font-size: 30px;
}
